

h1 {
  font-size: 40px;
  font-family: Arial
  background-colorï¼š darkcyan;
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}


